<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
</head>
<body class="container mt-5">

    <!-- Contenedor para alinear los elementos horizontalmente -->
    <div class="row align-items-center mb-3">
        <div class="col-md-6">
            <h1 class="nowrap">Usuarios Registrados</h1>
        </div>
        <div class="col-md-6 text-right">
            <a href="/userProfile" class="btn btn-primary">Volver a Perfil</a>
        </div>
    </div>

    {{#if user}}
    <div class="card mt-3">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>FOTO</th>
                        <th class="align-middle">NOMBRE</th>
                        <th class="align-middle">APELLIDO</th>
                        <th class="align-middle">MAIL</th>
                        <th class="align-middle">ROL</th>
                        <th class="align-middle">ACCIÓN</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each allUsersPremiums}}
                        <tr>
                            <td><img src="https://cdn-icons-png.flaticon.com/512/17/17004.png" alt="Foto de usuario" width="50"></td>
                            <td class="align-middle">{{this.first_name}}</td>
                            <td class="align-middle">{{this.last_name}}</td>
                            <td class="align-middle">{{this.email}}</td>
                            <td class="align-middle">{{this.role}}</td>
                            <td class="d-flex align-items-center">
                                <form action="/api/users/premium/{{this._id}}" method="POST" class="mr-2">
                                    <select class="custom-select" name="newRole" style="width: 120px; font-size: 0.85rem;">
                                        <option value="admin">Admin</option>
                                        <option value="premium">Premium</option>
                                        <option value="user">User</option>
                                    </select>
                                    <button type="submit" class="btn btn-primary btn-sm mr-2">Cambiar</button>
                                </form>
                                <form id="deleteForm_{{this._id}}" action="/api/users/delete-user/{{this._id}}" method="POST">
                                    <button type="button" class="btn btn-danger btn-sm deleteBtn">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <br>
{{else}}
    <p class="mt-3">Usuario no autenticado</p>
{{/if}}



    <script>
        // Obtener todos los botones de eliminar
        const deleteButtons = document.querySelectorAll('.deleteBtn');

        // Agregar un evento de clic a cada botón de eliminar
        deleteButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                const formId = button.parentElement.id;
                
                // Mostrar el cuadro de diálogo personalizado
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: '¿Estás seguro de que deseas eliminar este usuario? Esta acción no se puede deshacer.',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Sí, eliminar usuario',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    // Si el usuario confirma, enviar el formulario de eliminación
                    if (result.isConfirmed) {
                        const form = document.getElementById(formId);
                        form.submit();
                    }
                });
            });
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
